out
proguard_logs
.idea
*.iml
*.ipr
*.iws
local.properties
gen
build
.gradle
*.class
*.apk
.\#*
\#*\#
src/main/res/values/com_crashlytics_export_strings.xml
src/test/java/com/EditorHyde/app/Passwords.java
Passwords.java
