package com.EditorHyde.app;

/**
 * Created with IntelliJ IDEA.
 * User: xrdawson
 * Date: 4/2/13
 * Time: 8:36 PM
 * To change this template use File | Settings | File Templates.
 */
public class Passwords {
    public static String login  = "foobar";
    public static String password = "barfoo";
}
