<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="3" android:versionName="0.3.0" package="com.EditorHyde.app.test"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="instrumentation_backend">
        <uses-library android:name="android.test.runner" />
        <uses-library android:name="com.google.android.maps" android:required="false" />
        <activity android:label="WakeUp" android:name="sh.calaba.instrumentationbackend.WakeUp" android:exported="true" android:finishOnTaskLaunch="true" android:stateNotNeeded="true" android:excludeFromRecents="true" android:launchMode="singleInstance" android:noHistory="false" />
    </application>
    <instrumentation android:name="sh.calaba.instrumentationbackend.CalabashInstrumentationTestRunner" android:targetPackage="com.EditorHyde.app" />
    <instrumentation android:name="sh.calaba.instrumentationbackend.ClearAppData" android:targetPackage="com.EditorHyde.app" />
    <instrumentation android:name="sh.calaba.instrumentationbackend.ClearPreferences" android:targetPackage="com.EditorHyde.app" />
    <instrumentation android:name="sh.calaba.instrumentationbackend.SetPreferences" android:targetPackage="com.EditorHyde.app" />
    <instrumentation android:name="sh.calaba.instrumentationbackend.GetPreferences" android:targetPackage="com.EditorHyde.app" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>